  <!-- <div class="ct-preloader">
    <div class="ct-preloader-content"></div>
  </div> -->
  <nav class="ct-menuMobile text-uppercase">
    <ul class="ct-menuMobile-navbar">
      <li class="dropdown"><a href="index.html">home</a>
        <ul class="dropdown-menu">
          <li><a href="index.html">homepage</a></li>
          <li><a href="onepager.html">onepager</a></li>
          <li><a href="adventure.html">Adventure</a></li>
          <li><a href="adventure2.html">Adventure - next</a></li>
          <li><a href="travel.html">Travel</a></li>
          <li><a href="travel-deals.html">Travel Deals</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="private-tours.html">private tours</a>
        <ul class="dropdown-menu">
          <li><a href="basic-package.html">Basic Package</a></li>
          <li><a href="basic-package-single.html">Basic Package - single product</a></li>
          <li><a href="things-to-do.html">Things to do</a></li>
          <li><a href="tours-compare.html">compare tours</a></li>
        </ul>
      </li>
      <li><a href="itinerary.html">Itinerary</a></li>
      <li class="dropdown"><a href="index.html">Pages</a>
        <ul class="dropdown-menu">
          <li><a href="customize-destination.html">customize destination</a></li>
          <li><a href="customize-package.html">customize package</a></li>
          <li><a href="customize-wedding.html">customize wedding</a></li>
          <li><a href="wedding-design.html">wedding design</a></li>
          <li><a href="wedding-themes.html">wedding themes</a></li>
          <li><a href="wedding-honeymoon.html">wedding honeymoon</a></li>
          <li><a href="wedding-review.html">wedding review</a></li>
          <li><a href="wedding-personalize.html">wedding personalize</a></li>
          <li><a href="wedding-honeymoon.html">wedding honeymoon</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="faq2.html">FAQ type 2</a></li>
          <li><a href="signin.html">sign in</a></li>
          <li><a href="register.html">register</a></li>
          <li><a href="tours-compare.html">compare tours</a></li>
          <li><a href="about.html">gallery</a></li>
          <li><a href="rewards.html">rewards</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="blog-single.html">blog single post</a></li>
          <li><a href="testimonials.html">testimonials</a></li>
        </ul>
      </li>
      <li><a href="contact.html">contact</a></li>
    </ul>
  </nav>
  <div class="ct-reserveTicket">
    <div class="ct-reserveTicket-body">
      <div class="ct-reserveTicket-icon">
        <div class="ct-reserveTicket-iconBackground"><i class="fa fa-ticket"></i></div>
      </div>
      <div class="ct-reserveTicket-text"><a href="itinerary.html"><span class="ct-reserveTicket-title text-uppercase">Reserve your tickets</span><span class="text-capitalize">Plan your visit</span></a></div>
    </div>
  </div>
  <div id="ct-js-wrapper" class="ct-pageWrapper">
    <div class="ct-navbarMobile"><a href="index.html" class="navbar-brand"><img src="assets/images/demo-content/guide-tour/logo.png" alt="Mobile Logo"></a>
      <button type="button" class="navbar-toggle"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="ct-topBar text-uppercase ct-fw-400">
      <div class="container">
        <ul class="list-inline pull-left ct-information-contact">
          <li><i class="fa fa-phone"></i>phone:<a href="tel:(012)345-6789"> (012) 345-6789</a></li>
          <li><i class="fa fa-envelope-o"></i>mail:<a href="http://tourstickets.html.themeplayers.net/cdn-cgi/l/email-protection#31455e4443424558525a54454271585f575e1f525e5c"> tours&amp;<span class="__cf_email__" data-cfemail="f2869b9199978681b29b9c949ddc919d9f">[email&#160;protected]</span></a></li>
        </ul>
        <div class="pull-right">
          <ul class="list-inline">
            <li>
              <ul class="list-inline ct-socials">
                <li><a href="../../www.facebook.com/createITpl.html"><i class="fa fa-facebook"></i></a></li>
                <li><a href="../../twitter.com/account/suspended.html"><i class="fa fa-twitter"></i></a></li>
                <li><a href="../../www.createit.pl/index.html"><i class="fa fa-wordpress"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </li>
            <li><a href="register.html">register</a></li>
            <li><a href="signin.html">login</a></li>
          </ul><a href="contact.html" class="btn btn-default btn-xs">contact us</a>
        </div>
      </div>
    </div>
    <nav class="navbar yamm text-uppercase">
      <div class="container">
        <div class="navbar-header"><a href="index.html"><img src="assets/images/demo-content/guide-tour/logo.png" alt="logo"></a></div>
        <ul class="nav navbar-nav ct-navbar--fadeInUp pull-right">
          <li class="dropdown"><a href="index.html">home</a>
            <ul class="dropdown-menu">
              <li><a href="onepager.html">Onepager</a><a href="adventure.html">Adventure</a><a href="adventure2.html">Adventure - next</a><a href="travel.html">Travel</a><a href="travel-deals.html">Travel Deals</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="private-tours.html">private tours</a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content"><a href="basic-package.html">Basic Package</a><a href="basic-package-single.html">Basic Package - single product</a><a href="things-to-do.html">Things to do</a><a href="tours-compare.html">compare tours</a></div>
              </li>
            </ul>
          </li>
          <li class="dropdown yamm-fw"><a href="itinerary.html">Itinerary</a></li>
          <li class="dropdown yamm-fw"><a href="index.html">Pages</a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-3"><a href="about.html">About</a><a href="faq.html">FAQ</a><a href="register.html">register</a><a href="wedding-design.html">wedding design</a><a href="wedding-themes.html">wedding themes</a></div>
                      <div class="col-sm-3"><a href="blog.html">Blog</a><a href="faq2.html">faq type 2</a><a href="signin.html">sign in</a><a href="wedding-honeymoon.html">wedding honeymoon</a><a href="wedding-review.html">wedding review</a></div>
                      <div class="col-sm-3"><a href="blog-single.html">blog single post</a><a href="gallery.html">gallery</a><a href="rewards.html">rewards</a><a href="wedding-personalize.html">wedding personalize</a><a href="wedding-honeymoon.html">wedding honeymoon</a></div>
                      <div class="col-sm-3"><a href="customize-destination.html">customize destination</a><a href="customize-package.html">customize package</a><a href="customize-wedding.html">customize wedding</a><a href="testimonials.html">testimonials</a></div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown"><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </nav>
    <header id="home" class="ct-u-colorWhite text-left">
      <div data-adaptiveHeight="true" data-animations="true" data-autoplay="true" data-infinite="true" data-autoplaySpeed="6000" data-draggable="true" data-touchMove="false" data-arrows="true" data-items="1" class="ct-slick ct-js-slick">
        <div data-bg="./assets/images/demo-content/guide-tour/sliderImage.jpg" class="item">
          <div class="ct-slick-inner">
            <div class="ct-slick-content">
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <h1 class="ct-textDecoration--underline ct-u-marginBottom60 ct-fw-300"><span class="ct-u-text-big text-uppercase">new</span>Get 15% off on vacations</h1>
                    <p class="ct-u-marginBottom50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ipsum nibh, maluit esuada a sem id, tincidunt tristique nibh. Mauris tristique velit massam, in frinui gilla turpis semper quis. Sed sagittis cursus erat, et ibendum nec.</p><a href="#packages" class="btn btn-lg btn-default btn-transparent text-uppercase ct-js-btnScroll">more details</a><a href="basic-package-single.html" class="btn btn-lg btn-primary text-uppercase">book now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-bg="./assets/images/demo-content/guide-tour/sliderImage3.jpg" class="item">
          <div class="ct-slick-inner">
            <div class="ct-slick-content">
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <h1 class="ct-textDecoration--underline ct-u-marginBottom60 ct-fw-300"><span class="ct-u-text-big text-uppercase">new</span>Get 15% off on vacations</h1>
                    <p class="ct-u-marginBottom50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ipsum nibh, maluit esuada a sem id, tincidunt tristique nibh. Mauris tristique velit massam, in frinui gilla turpis semper quis. Sed sagittis cursus erat, et ibendum nec.</p><a href="#packages" class="btn btn-lg btn-default btn-transparent text-uppercase">more details</a><a href="basic-package-single.html" class="btn btn-lg btn-primary text-uppercase">book now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>